/********Universal styles ********/

html {
	font-family: 'Carrois Gothic', sans-serif;
}

body {
	background-color: #81CFE0;
	padding-top: 50px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #DB0A5B;
}

h1 {
	color: white;
	letter-spacing: 1px; 
	font-size: 3.5em;
	font-weight: bold;

}
h2 {
	color: #F62459;
}

#nav {
	position: fixed;
	top: 0;
	opacity: .9;
	z-index: 10000;
	height: 50px;
	width: 100%;
	background-color: black;
	-webkit-box-shadow: -1px 6px 14px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 6px 14px -5px rgba(0,0,0,0.75);
	box-shadow: -1px 6px 14px -5px rgba(0,0,0,0.75);
}

li {
	list-style: none;
	letter-spacing: 1.25px;
	display: inline-block;
	text-align: center;
	width: 32%;
	margin-top: 15px;
}


.main p {
	font-size: 2rem;
}

.centered {
	margin: auto;
}

img {
	margin-top: 55px;
	border-radius: 50%;
	width: 150px;

}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; 
}