/********Universal styles ********/

body {
	background-color: #eeffff;
	/*margin-top: 60px;*/
	font-family: 'Lato', sans-serif;

}

.container {
	max-width: 1000px;
	margin: auto;
	/*height: 100vh;*/
	padding: 2.5%;
	padding-left: 5%;
	
}

.imgcontainer {
	margin: auto;
	background-color: black;
}


a {
	text-decoration: none;
}

h1 {
	
	font-family: 'Open Sans Condensed', sans-serif;
	color: #555555; 
	font-size: 3.7em;
	margin-bottom: 0;
	letter-spacing: 5px;
	padding-left: 5%;
	

}

h2 {
	font-family: 'Pacifico', cursive;
	color: #ff5577;
	margin-top: 0;
	padding-left: 5%;
	letter-spacing: 2px;

}


.switch {
	height: 65px;
	margin-top: 2%;
}

#large-nav ul {
	top: 0;
	height: 50px;
	width: 100%;
	background-color: black;
	border-bottom: solid #52B3D9 16.66px;
}


#large-nav li {
	display: inline-block;
	text-decoration: none;
	width: 16%;
	text-align: center;
	padding-top: 13px;
	letter-spacing: 2px;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-top: 7px;
	z-index: 999999;
}

#large-nav li a {
	/*color: #6C7A89;*/
	color: #E4F1FE;
	margin-top: 50px;
	font-size: 2.5rem;
	padding: 20px;
}

#large-nav li:hover {
	color: white;
}

#large-nav li a:hover{
	color: white;
}



/**********WELCOME PARAGRAPH**********/
.welcome {
	font-size: 1.8rem;
	padding: 0 5%;
	margin-top: 2%;
	line-height: 1.8;
	letter-spacing: 2px;

}

.centered {
	margin: auto;
}

.treasureIMG {
    border-radius: 2.5%;
    width: 200px;
    /*margin-top: 32px;*/
    border: solid #2c3e50 2px;
}

.imgdiv {
	width: 100%;
}

/****************CONTACT INFO*************/


.contact-list {
	list-style: none;
	color: black;
	padding: 5%;
	margin-left: 10px;

}

.contact-list a {
	font-size: 1.3em;
	color: black;
	padding: 0;
}

.contact-list i {
	color: black;
	margin-right: 20px;
}

i {
	
	text-align: center;
}

.fa-github-square {
	margin-left: 15px;
}

.contact-list i:hover {
	color: #DB0A5B;
}

li:hover i {
	color: #DB0A5B;
}


.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; 
}

.adjustHeight {
	margin-top: 4%;
}

#nav-small {
		display: none;
	}

/*******************PROJECTS *************/

.projectboxes {
	height: 500px;
	width: 100%;
}

.projects-row h1 {
	background-color: #22313F;
	color: white;
	width: 100%;
	height: 50px;
	padding-top: 75px;
	border-bottom: solid black 15px;
	margin-bottom: 50px;
}

.see-projects {
	text-align: center;
	color: white;
	padding: 5%;
	background-color: #52B3D9;
}

.projects {
	background-color: #52B3D9;
	width: 100%;
	height: 100%;
}



.center {
	text-align: center;
}

.center h2 {
	font-size: 3rem;
	display: inline-block;
}


.img-contain {
  height: 300px;
  width: 425px;
  float: right;
  padding: 2%;

}

.blc-left {
	float: left;
}

.blc-right {
	float: right;
}

.project-content-area {
	margin: 3%;
	max-width: 900px;
}

.project-content-area p {
	padding: 0 7%;
	font-size: 2rem;
}

/**************MEDIA QUERIES ***********/

@media (max-width: 700px) {
	.contact-list {
		display: none;
	}

	h2 {
		font-size: 2.3em;
		height: 50px;
	}
	#nav-small {
		display: block;
		width: 100%;
		height: 50px;
		text-align: center;
		color: black;
		list-style: none;
	}

	#nav-small li {
		display: inline;
		text-align: center;
	}

	.fa {
		width: 19%;
		color: black;

	}

	#large-nav {
		display: none;
	}

	.switch {
	height: 80px;
	padding: 5px;
	margin: 0;
	text-align: center;
	margin-top: 13px;
	}
	body {
		padding: 0;
	}


	.treasureIMG {
	border-radius: 25%;
	width: 150px;
	margin: auto;
	}

	.imgdiv {
	width: 100%;
	text-align: center;
	/*margin-left: 14%;*/
	}

	.main-info {
	margin: 0;
	text-align: center;
	}

	h1 {
	color: black; 
	font-size: 3.3em;
	letter-spacing: 0;
	margin-bottom: 0;

}
	.welcome {
		text-align: justify;
		padding: 5px;
	}
}
